<% content_for :head do %>
<%= stylesheet_link_tag 'main' %>
<% end %>

<div class="wrapper">

<!--
  <aside>
    <ul>
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </aside>
  -->

  <%= render 'shared/sidebar' %>
  <!--
  <main>
   <%= render 'shared/tbl' %>
  </main>
  -->
</div>