<div class="v1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%= image_tag("logo.svg", width: 200, class: "mx-auto d-block") %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card mt-5">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">Card Number</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <h5 class="text-center">Scan your card to clock in/clock out</h5>
            </div>
        </div>
    </div>
</div>
